<nav class="navbar navbar-light bg-light">
  <%=link_to "Home", root_path, class:'navbar-brand' %>
  <%=link_to "Index",home_about_path,class:'navbar-brand'%>
  <%if user_signed_in?%>
    <%=link_to "Log out",destroy_user_session_path,:method => :delete , class:'navbar-brand'%>
  <%elsif%>
    <%=link_to "Sign In",new_user_session_path, class:'navbar-brand'%>
  <%end%>
</nav>
